<a href="/users">GO TO HOME</a>
<div id="users" class="container">
    <table id="SheetsTable" class="table">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {{#each sheets}}

            <tr id="{{email}}" class="each">
                <td>{{email}}</td>
                <td contenteditable="true" style="cursor: pointer;">{{name}}</td>
                <td><input type="button" value="update" class="updateUser btn btn-success"></td>
                <td><input type="button" value="delete" class="deleteUser btn btn-warning"></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>


<script>

    // custom element for user form
    (function () {
        function AdminChanges(button) {
            for (let i = 0; i < button.length; i++) {
                button[i].addEventListener('click', function (evt) {
                    let aVal = evt.target.value;
                    let email = deleteB[i].parentNode.parentNode.id;
                    let name = button[i].parentNode.parentNode.childNodes[3].innerText;
                    console.log(name)
                    let req = new XMLHttpRequest();
                    req.responseType = 'json';
                    if (aVal === 'update') {
                        let obj = { email: email, name: name };
                        req.open('PUT', `/update-all-sheet`);
                        req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                        req.onload = function (evt) {
                            if (req.status == 200) { // check for ok response
                                const resp = req.response;
                                console.log(resp);
                                console.log('updated user')
                            }
                        };
                        req.send(JSON.stringify(obj))
                    } else {
                        let obj = { email: email, name: name };
                        req.open('DELETE', `/sheets/${email}`);
                        req.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
                        req.onload = function (evt) {
                            if (req.status == 200) { // check for ok response
                                const resp = req.response;
                                console.log(resp);

                                let parent = deleteB[i].parentNode.parentNode.parentNode;
                                parent.removeChild(deleteB[i].parentNode.parentNode)
                            }
                        };
                        req.send(JSON.stringify(obj))

                    }
                })
            }
        }
        let deleteB = document.querySelectorAll(".deleteUser");
        AdminChanges(deleteB);

        let updateB = document.querySelectorAll(".updateUser");
        AdminChanges(updateB);
    }());
</script>


{{!-- else {
                        req.open('DELETE', `/user/${email}`);
                        req.onload = function (evt) {
                            if (req.status == 200) { // check for ok response
                                const resp = req.response;
                                console.log(resp);
                                let parent = deleteB[i].parentNode.parentNode.parentNode;
                                parent.removeChild(deleteB[i].parentNode.parentNode)
                            }
                        };
                        req.send()
                    } --}}