    const template = document.createElement('template');
    template.innerHTML = `\
    <div id="spread-sheet"></div>
    `;
    class Spreadsheet extends HTMLElement {
        constructor() {
            super();ß
            const template = document.getElementById('spreadsheet');
            //  Creating the shadow root 
            const shadow = this.attachShadow({mode: 'open'});

            const wrapper = document.createElement('div');

        }
    }
