{{#if req.session.login}}
<div class="jumbotron container mt-5">
    <h1 class="display-4">Hello, {{req.session.firstName}}!</h1>
    <p class="lead">Welcome to the spreadsheet application, this is the part 1</p>
    <hr class="my-4">
</div>
{{/if}}