<h1 class="text-center pt-2">Shared Spreadsheets</h1>

<p>List of publically shared Spreadsheets.</p>
<ul id="list">
    {{#each names}}
    <div id="{{@index}}">
        <li contenteditable="true" id="{{@index}}">{{this}}</li>
        <input type="button" value="copy" id="copy" />
    </div>
    {{/each}}
</ul>

<script>
    const requestParams = {
        mode: 'cors',
        credentials: 'same-origin',
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
        },
    };
    let listArea = document.getElementById("list");
    listArea.addEventListener('click', async (evt) => {
        let aVal = evt.target.value;
        console.log(aVal);
        if (aVal === 'copy') {
            const name = evt.target.parentNode.querySelector('li').textContent;
            console.log(name);
            const params = { ...requestParams, method: 'PUT' };
            const resp = await fetch(`/sheet/${name}`, params);
            const json = await resp.json();
            console.log(json)
        }
    });
</script>